
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-592488834470511537.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-592488834470511537.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-592488834470511537.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-592488834470511537.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-592488834470511537.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-592488834470511537.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-592488834470511537.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-592488834470511537.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-592488834470511537.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-592488834470511537.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-592488834470511537.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-592488834470511537.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-592488834470511537.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-592488834470511537.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-592488834470511537.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-592488834470511537.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-592488834470511537.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-592488834470511537.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-592488834470511537.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-592488834470511537.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-592488834470511537.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-592488834470511537.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-592488834470511537.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-592488834470511537.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-592488834470511537.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-592488834470511537.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-592488834470511537.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-592488834470511537.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-592488834470511537.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-592488834470511537.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-592488834470511537.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-592488834470511537.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-592488834470511537.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-592488834470511537.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-592488834470511537.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-592488834470511537.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-592488834470511537.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-592488834470511537.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-592488834470511537.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-592488834470511537.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-592488834470511537.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-592488834470511537.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-592488834470511537.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-592488834470511537.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-592488834470511537.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-592488834470511537.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-592488834470511537.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-592488834470511537.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-592488834470511537.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-592488834470511537.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-592488834470511537.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-592488834470511537.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-592488834470511537.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-592488834470511537.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-592488834470511537.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-592488834470511537.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-592488834470511537.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-592488834470511537.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-592488834470511537.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-592488834470511537.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-592488834470511537.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-592488834470511537.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-592488834470511537.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-592488834470511537.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-592488834470511537.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-592488834470511537.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-592488834470511537.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-592488834470511537.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-592488834470511537.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-592488834470511537.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-592488834470511537.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-592488834470511537.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-592488834470511537.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-592488834470511537.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-592488834470511537.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-592488834470511537.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-592488834470511537 .gp-relative{position:relative}.gps-592488834470511537 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-592488834470511537 .gp-mb-0{margin-bottom:0}.gps-592488834470511537 .gp-flex{display:flex}.gps-592488834470511537 .gp-inline-flex{display:inline-flex}.gps-592488834470511537 .gp-grid{display:grid}.gps-592488834470511537 .\!gp-hidden{display:none!important}.gps-592488834470511537 .gp-hidden{display:none}.gps-592488834470511537 .gp-h-full{height:100%}.gps-592488834470511537 .gp-max-w-full{max-width:100%}.gps-592488834470511537 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-592488834470511537 .gp-flex-col{flex-direction:column}.gps-592488834470511537 .gp-items-center{align-items:center}.gps-592488834470511537 .gp-justify-center{justify-content:center}.gps-592488834470511537 .gp-overflow-hidden{overflow:hidden}.gps-592488834470511537 .gp-break-words{overflow-wrap:break-word}.gps-592488834470511537 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-592488834470511537 .gp-no-underline{text-decoration-line:none}.gps-592488834470511537 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592488834470511537 .gp-duration-200{transition-duration:.2s}.gps-592488834470511537 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592488834470511537 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-592488834470511537 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-592488834470511537 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-592488834470511537 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-592488834470511537 .tablet\:\!gp-hidden{display:none!important}.gps-592488834470511537 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-592488834470511537 .mobile\:\!gp-hidden{display:none!important}.gps-592488834470511537 .mobile\:gp-hidden{display:none}}.gps-592488834470511537 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-592488834470511537 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiukDQ.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky461EN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxm7FEN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxf7FEN.ttf) format('truetype');
}
</style>
  
    
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"tag":"Section","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":true}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:visible;display:contents">
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAF6F2","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gpJ9M3jKUG"}' data-id="gpJ9M3jKUG" id="gpJ9M3jKUG" data-same-height-subgrid-container class="gpJ9M3jKUG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--displayInitInteraction:true;--hasAnimationInteraction:true;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--pt:80px;--pl:60px;--pb:72px;--pr:60px;--pt-mobile:60px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--pt-tablet:70px;--pl-tablet:40px;--pb-tablet:50px;--pr-tablet:40px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAF6F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gt-kMzrFBa gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gauuvjJD9M"}' data-id="gauuvjJD9M" id="gauuvjJD9M" data-same-height-subgrid-container class="gauuvjJD9M gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:62px;--cg-tablet:40px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-tablet:center"
      class="g97OjcUm-r gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goGrGyrNaO"
        class="goGrGyrNaO"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:30px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Playfair-Display, 'Playfair Display'), var(--g-font-heading, heading);--weight:700;--size:32px;--size-tablet:32px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#3F4144;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoGrGyrNaO_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gVmaEEe9SC"}' data-id="gVmaEEe9SC" id="gVmaEEe9SC" data-same-height-subgrid-container class="gVmaEEe9SC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:15px;--mb:15px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:15px;--mb-tablet:15px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:650px;--w-mobile:100%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0-aC6V4Cf gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="grwhkwjNXk gp-custom-code">
      <div>
    <style>
  /* --- CSS STYLING --- */
  .slider-container {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    max-width: 500px;
    margin: 20px auto;
  }

  input[type="range"] {
    width: 80%;
    margin: 10px 0;
    cursor: pointer;
    -webkit-appearance: none;
    background: transparent;
    --fill: #4c9a6a; /* Default fill color for Firefox */
  }

  /* --- RANGE TRACK --- */
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent; /* Transparent so JS gradient shows */
    border-radius: 4px;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #ccc;
    border-radius: 4px;
  }

  /* Firefox: filled portion */
  input[type=range]::-moz-range-progress {
    height: 8px;
    background: var(--fill);
    border-radius: 4px;
  }

  /* --- CUSTOM THUMB (GREEN CIRCLE) --- */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #4c9a6a;
    cursor: pointer;
    margin-top: -8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transition: background 0.3s;
  }

  input[type=range]::-moz-range-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #4c9a6a;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
  }

  /* --- LABELS AND VALUE BOX --- */
  .label-top {
    display: block;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }

  #rating-value {
    font-weight: bold;
    background-color: #4c9a6a;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 1.1rem;
    position: relative;
    transition: background-color 0.3s;
  }

  .slider-labels, .emoji-labels {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    font-size: 1.25rem;
    color: #666;
  }

  .slider-labels {
      margin-top: -5px;
  }

  .emoji-labels {
    margin-top: 15px;
    font-size: 1.25rem;
    color: #333;
  }
</style>

<!-- --- HTML STRUCTURE --- -->
<div class="slider-container">
  <label for="rating-slider" class="label-top">Out of 10: <span id="rating-value">5</span></label>
  <input type="range" id="rating-slider" min="1" max="10" value="5">
  <div class="slider-labels">
    <span>1</span>
    <span>10</span>
  </div>
  <div class="emoji-labels">
    <span>&#128528; Don't Care</span>
    <span>&#128514; Very Much!</span>
  </div>
</div>

<script>
  // --- JAVASCRIPT FUNCTIONALITY ---
  document.addEventListener('DOMContentLoaded', () => {
    const slider = document.getElementById('rating-slider');
    const output = document.getElementById('rating-value');
    const fillColorNormal = '#4c9a6a'; // Normal green
    const fillColorActive = '#3b7d54'; // Darker green when active
    const trackColor = '#ccc'; // Grey unfilled part

    function updateSliderAppearance(sliderElement, activeState = false) {
      const min = sliderElement.min || 1;
      const max = sliderElement.max || 10;
      const value = sliderElement.value;
      const percentage = ((value - min) / (max - min)) * 100;
      const currentFillColor = activeState ? fillColorActive : fillColorNormal;

      // WebKit browsers: use gradient for fill
      sliderElement.style.background = `linear-gradient(to right, ${currentFillColor} ${percentage}%, ${trackColor} ${percentage}%)`;

      // Firefox: update custom CSS variable for filled progress
      sliderElement.style.setProperty('--fill', currentFillColor);

      // Update value box color
      output.style.backgroundColor = currentFillColor;
    }

    if (slider && output) {
      output.innerHTML = slider.value;
      updateSliderAppearance(slider, false);

      slider.addEventListener('input', () => {
        output.innerHTML = slider.value;
        updateSliderAppearance(slider, true);
      });

      slider.addEventListener('pointerdown', () => updateSliderAppearance(slider, true));
      window.addEventListener('pointerup', () => updateSliderAppearance(slider, false));

      slider.addEventListener('mouseenter', () => updateSliderAppearance(slider, true));
      slider.addEventListener('mouseleave', (event) => {
        if (event.buttons === 0) updateSliderAppearance(slider, false);
      });
    } else {
      console.error("Slider or output element not found!");
    }
  });
</script>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gg5C2bJNT0"}' data-id="gg5C2bJNT0" id="gg5C2bJNT0" data-same-height-subgrid-container class="gg5C2bJNT0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:10px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:500px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0iE21ov1E gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left" >
        <style>[data-id="gus4xGhR9y"].gp-button-base::before, [data-id="gus4xGhR9y-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
  
    }
  
      
  [data-id="gus4xGhR9y"]:hover::before, [data-id="gus4xGhR9y-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gus4xGhR9y" dataId="gus4xGhR9y" data-state="idle" aria-label="<p>Continue</p>"
          
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--bgi:;--bg:#205F49;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gus4xGhR9y gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggus4xGhR9y_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-592488834470511537 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=592025793073250846&sectionId=592488834470511537)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggoGrGyrNaO_text","label":"ggoGrGyrNaO_text","default":"<strong>8. How Much Do You Want To You Became Flake-Free?</strong>"},{"type":"html","id":"ggus4xGhR9y_label","label":"ggus4xGhR9y_label","default":"<p>Continue</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}