
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-590248087637721942.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-590248087637721942.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-590248087637721942.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-590248087637721942.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-590248087637721942.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-590248087637721942.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-590248087637721942.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-590248087637721942.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-590248087637721942.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-590248087637721942.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-590248087637721942.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-590248087637721942.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-590248087637721942.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-590248087637721942.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-590248087637721942.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-590248087637721942.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-590248087637721942.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-590248087637721942.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-590248087637721942.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-590248087637721942.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-590248087637721942.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-590248087637721942.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-590248087637721942.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-590248087637721942.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-590248087637721942.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-590248087637721942.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-590248087637721942.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-590248087637721942.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-590248087637721942.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-590248087637721942.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-590248087637721942.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-590248087637721942.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-590248087637721942.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-590248087637721942.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-590248087637721942.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-590248087637721942.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-590248087637721942.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-590248087637721942.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-590248087637721942.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-590248087637721942.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-590248087637721942.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-590248087637721942.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-590248087637721942.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-590248087637721942.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-590248087637721942.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-590248087637721942.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-590248087637721942.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-590248087637721942.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-590248087637721942.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-590248087637721942.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-590248087637721942.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-590248087637721942.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-590248087637721942.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-590248087637721942.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-590248087637721942.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-590248087637721942.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-590248087637721942.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-590248087637721942.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-590248087637721942.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-590248087637721942.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-590248087637721942.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-590248087637721942.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-590248087637721942.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-590248087637721942.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-590248087637721942.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-590248087637721942.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-590248087637721942.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-590248087637721942.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-590248087637721942.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-590248087637721942.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-590248087637721942.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-590248087637721942 .gp-relative{position:relative}.gps-590248087637721942 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-590248087637721942 .gp-mb-0{margin-bottom:0}.gps-590248087637721942 .gp-flex{display:flex}.gps-590248087637721942 .gp-grid{display:grid}.gps-590248087637721942 .\!gp-hidden{display:none!important}.gps-590248087637721942 .gp-hidden{display:none}.gps-590248087637721942 .gp-max-w-full{max-width:100%}.gps-590248087637721942 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-590248087637721942 .gp-flex-col{flex-direction:column}.gps-590248087637721942 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590248087637721942 .gp-duration-200{transition-duration:.2s}.gps-590248087637721942 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-590248087637721942 .tablet\:\!gp-hidden{display:none!important}.gps-590248087637721942 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-590248087637721942 .mobile\:\!gp-hidden{display:none!important}.gps-590248087637721942 .mobile\:gp-hidden{display:none}}.gps-590248087637721942 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"rgba(204, 204, 204, 0.25)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsayPSr0kR"}' data-id="gsayPSr0kR" id="gsayPSr0kR" data-same-height-subgrid-container class="gsayPSr0kR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgc-mobile:rgba(204, 204, 204, 0.25);--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_52UacKDn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0xFlb-0Uf"
        class="g0xFlb-0Uf"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:var(--g-s-xl);--mb-mobile:20px;--mr-mobile:var(--g-s-xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:25px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:180%;--c:#A3A3A3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0xFlb-0Uf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-590248087637721942 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=590117545411871690&sectionId=590248087637721942)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg0xFlb-0Uf_text","label":"gg0xFlb-0Uf_text","default":"<p><strong>BEAUTY &amp; SKINCARE DISCLAIMER:</strong> The information and other content provided on this page, or in any linked materials, are for informational and educational purposes only. They are not intended and should not be construed as medical advice, diagnosis, or treatment. The content presented reflects general skincare education and is not a substitute for consultation with a licensed dermatologist or healthcare professional.</p><p>If you have or suspect you have a skin condition or any medical concern, you should consult with a qualified dermatologist or healthcare provider. Never disregard professional advice or delay seeking it because of something you have read on this page or in any linked materials.</p><p>Results mentioned or shown are based on individual experiences and may vary. Statements on this site have not been evaluated by the Food and Drug Administration (FDA). Products mentioned are not intended to diagnose, treat, cure, or prevent any disease.</p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}