
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-592675063094838009.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-592675063094838009.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-592675063094838009.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-592675063094838009.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-592675063094838009.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-592675063094838009.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-592675063094838009.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-592675063094838009.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-592675063094838009.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-592675063094838009.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-592675063094838009.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-592675063094838009.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-592675063094838009.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-592675063094838009.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-592675063094838009.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-592675063094838009.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-592675063094838009.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-592675063094838009.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-592675063094838009.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-592675063094838009.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-592675063094838009.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-592675063094838009.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-592675063094838009.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-592675063094838009.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-592675063094838009.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-592675063094838009.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-592675063094838009.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-592675063094838009.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-592675063094838009.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-592675063094838009.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-592675063094838009.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-592675063094838009.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-592675063094838009.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-592675063094838009.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-592675063094838009.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-592675063094838009.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-592675063094838009.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-592675063094838009.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-592675063094838009.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-592675063094838009.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-592675063094838009.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-592675063094838009.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-592675063094838009.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-592675063094838009.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-592675063094838009.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-592675063094838009.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-592675063094838009.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-592675063094838009.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-592675063094838009.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-592675063094838009.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-592675063094838009.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-592675063094838009.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-592675063094838009.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-592675063094838009.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-592675063094838009.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-592675063094838009.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-592675063094838009.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-592675063094838009.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-592675063094838009.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-592675063094838009.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-592675063094838009.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-592675063094838009.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-592675063094838009.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-592675063094838009.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-592675063094838009.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-592675063094838009.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-592675063094838009.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-592675063094838009.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-592675063094838009.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-592675063094838009.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-592675063094838009.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-592675063094838009.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-592675063094838009.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-592675063094838009.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-592675063094838009.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-592675063094838009.gps.gpsil [style*="--shadow-mobile:"]{box-shadow:var(--shadow-mobile)}.gps-592675063094838009.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-592675063094838009.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-592675063094838009.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-592675063094838009.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-592675063094838009.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-592675063094838009.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-592675063094838009.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-592675063094838009.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-592675063094838009.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-592675063094838009.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-592675063094838009.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-592675063094838009.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-592675063094838009.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-592675063094838009.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-592675063094838009.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-592675063094838009.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-592675063094838009.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-592675063094838009.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-592675063094838009 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-592675063094838009 .gp-relative{position:relative}.gps-592675063094838009 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-592675063094838009 .gp-mb-0{margin-bottom:0}.gps-592675063094838009 .gp-inline-block{display:inline-block}.gps-592675063094838009 .gp-flex{display:flex}.gps-592675063094838009 .gp-grid{display:grid}.gps-592675063094838009 .gp-contents{display:contents}.gps-592675063094838009 .\!gp-hidden{display:none!important}.gps-592675063094838009 .gp-hidden{display:none}.gps-592675063094838009 .gp-h-auto{height:auto}.gps-592675063094838009 .gp-h-full{height:100%}.gps-592675063094838009 .gp-w-full{width:100%}.gps-592675063094838009 .gp-max-w-full{max-width:100%}.gps-592675063094838009 .gp-flex-none{flex:none}.gps-592675063094838009 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-592675063094838009 .gp-flex-col{flex-direction:column}.gps-592675063094838009 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592675063094838009 .gp-duration-200{transition-duration:.2s}.gps-592675063094838009 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-592675063094838009 .tablet\:\!gp-hidden{display:none!important}.gps-592675063094838009 .tablet\:gp-hidden{display:none}.gps-592675063094838009 .tablet\:gp-h-auto{height:auto}.gps-592675063094838009 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-592675063094838009 .mobile\:\!gp-hidden{display:none!important}.gps-592675063094838009 .mobile\:gp-hidden{display:none}.gps-592675063094838009 .mobile\:gp-h-auto{height:auto}.gps-592675063094838009 .mobile\:gp-flex-none{flex:none}}.gps-592675063094838009 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gScaRYdv2E"}' data-id="gScaRYdv2E" id="gScaRYdv2E" data-same-height-subgrid-container class="gScaRYdv2E gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:12px;--pb-mobile:0px;--pr-mobile:12px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLh1kMwdGE gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"RGBA(14, 81, 132, 0.15)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"color":"transparent","preload":false,"type":"color"}},"uid":"gbupNUkeBw"}' data-id="gbupNUkeBw" id="gbupNUkeBw" data-same-height-subgrid-container class="gbupNUkeBw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bs-mobile:solid;--bw:1px;--bw-mobile:1px;--bc:var(--g-c-line-3, line-3);--bc-mobile:var(--g-c-line-3, line-3);--shadow:2.8284271247461903px 2.82842712474619px 4px 0px rgba(18, 18, 18, 0.2);--shadow-mobile:2.8284271247461903px 2.82842712474619px 4px 0px rgba(18, 18, 18, 0.2);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bblr-mobile:8px;--bbrr-mobile:8px;--btlr-mobile:8px;--btrr-mobile:8px;--mb:30px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mt-mobile:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:8px;--pl-mobile:8px;--pb-mobile:8px;--pr-mobile:8px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:RGBA(14, 81, 132, 0.15);--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gj6YO2rp5_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gcVG1kHbtj"}' data-id="gcVG1kHbtj" id="gcVG1kHbtj" data-same-height-subgrid-container class="gcVG1kHbtj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 8fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gQ3hycx1JF gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gMRSSRlaw7"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764990517260 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gMRSSRlaw7"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "120_Day_Badge.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="g9IUY_RWiV gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmh2oV2imC"
        class="gmh2oV2imC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:30px;--size-tablet:46px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#062151;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmh2oV2imC_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHbHk5-_E0"
        class="gHbHk5-_E0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:16px;--size-mobile:11px;--c:#001541;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHbHk5-_E0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-592675063094838009 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=592673844481753849&sectionId=592675063094838009)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggmh2oV2imC_text","label":"ggmh2oV2imC_text","default":"Results in 120 days, or you don't pay."},{"type":"html","id":"ggHbHk5-_E0_text","label":"ggHbHk5-_E0_text","default":"<p>We're so confident, we're willing to take on all the risk. And if your skin hasn't calmed down after consistent use — email us and we’ll refund you in full. No hassle. No questions.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}