
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-589062490403439505.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-589062490403439505.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-589062490403439505.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-589062490403439505.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-589062490403439505.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-589062490403439505.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-589062490403439505.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-589062490403439505.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-589062490403439505.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-589062490403439505.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-589062490403439505.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-589062490403439505.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-589062490403439505.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-589062490403439505.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-589062490403439505.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-589062490403439505.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-589062490403439505.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-589062490403439505.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-589062490403439505.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-589062490403439505.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-589062490403439505.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-589062490403439505.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-589062490403439505.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-589062490403439505.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-589062490403439505.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-589062490403439505.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-589062490403439505.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-589062490403439505.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-589062490403439505.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-589062490403439505.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-589062490403439505.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-589062490403439505.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-589062490403439505.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-589062490403439505.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-589062490403439505.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-589062490403439505.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-589062490403439505.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-589062490403439505.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-589062490403439505.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-589062490403439505.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-589062490403439505.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-589062490403439505.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-589062490403439505.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-589062490403439505.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-589062490403439505.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-589062490403439505.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-589062490403439505.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-589062490403439505.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-589062490403439505.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-589062490403439505.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-589062490403439505.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-589062490403439505.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-589062490403439505.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-589062490403439505.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-589062490403439505.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-589062490403439505.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-589062490403439505.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-589062490403439505 .gp-relative{position:relative}.gps-589062490403439505 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-589062490403439505 .gp-mb-0{margin-bottom:0}.gps-589062490403439505 .gp-inline-block{display:inline-block}.gps-589062490403439505 .gp-flex{display:flex}.gps-589062490403439505 .gp-grid{display:grid}.gps-589062490403439505 .gp-contents{display:contents}.gps-589062490403439505 .\!gp-hidden{display:none!important}.gps-589062490403439505 .gp-hidden{display:none}.gps-589062490403439505 .gp-h-auto{height:auto}.gps-589062490403439505 .gp-h-full{height:100%}.gps-589062490403439505 .gp-w-full{width:100%}.gps-589062490403439505 .gp-max-w-full{max-width:100%}.gps-589062490403439505 .gp-flex-none{flex:none}.gps-589062490403439505 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-589062490403439505 .gp-flex-col{flex-direction:column}.gps-589062490403439505 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589062490403439505 .gp-duration-200{transition-duration:.2s}.gps-589062490403439505 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-589062490403439505 .tablet\:\!gp-hidden{display:none!important}.gps-589062490403439505 .tablet\:gp-hidden{display:none}.gps-589062490403439505 .tablet\:gp-h-auto{height:auto}.gps-589062490403439505 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-589062490403439505 .mobile\:\!gp-hidden{display:none!important}.gps-589062490403439505 .mobile\:gp-hidden{display:none}.gps-589062490403439505 .mobile\:gp-h-auto{height:auto}.gps-589062490403439505 .mobile\:gp-flex-none{flex:none}}.gps-589062490403439505 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWHJlr-8YP"}' data-id="gWHJlr-8YP" id="gWHJlr-8YP" data-same-height-subgrid-container class="gWHJlr-8YP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnsUZTCLXx gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gVfigdBuat"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764631447150 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gVfigdBuat"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-064b2e6e-4b65-4923-8db2-41467d941a95.png" | file_url }}" srcset="{{ "gempages_562294279301497736-064b2e6e-4b65-4923-8db2-41467d941a95.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-064b2e6e-4b65-4923-8db2-41467d941a95_1024x.png" srcset="https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-064b2e6e-4b65-4923-8db2-41467d941a95_1024x.png" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-064b2e6e-4b65-4923-8db2-41467d941a95.png" data-src="https://cdn.shopify.com/s/files/1/0930/1550/7240/files/gempages_562294279301497736-064b2e6e-4b65-4923-8db2-41467d941a95.png"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:4/3;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-589062490403439505 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=587905024265290434&sectionId=589062490403439505)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}