
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-587371111277134827.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-587371111277134827.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-587371111277134827.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-587371111277134827.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-587371111277134827.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-587371111277134827.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-587371111277134827.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-587371111277134827.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-587371111277134827.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-587371111277134827.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-587371111277134827.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-587371111277134827.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-587371111277134827.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-587371111277134827.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-587371111277134827.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-587371111277134827.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-587371111277134827.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-587371111277134827.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-587371111277134827.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-587371111277134827.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-587371111277134827.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-587371111277134827.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-587371111277134827.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-587371111277134827.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-587371111277134827.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-587371111277134827.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-587371111277134827.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-587371111277134827.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-587371111277134827.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-587371111277134827.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-587371111277134827.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-587371111277134827.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-587371111277134827.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-587371111277134827.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-587371111277134827.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-587371111277134827.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-587371111277134827.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-587371111277134827.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-587371111277134827.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-587371111277134827.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-587371111277134827.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-587371111277134827.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-587371111277134827.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-587371111277134827.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-587371111277134827.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-587371111277134827.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-587371111277134827.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-587371111277134827.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-587371111277134827.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-587371111277134827.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-587371111277134827.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-587371111277134827.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-587371111277134827.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-587371111277134827.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-587371111277134827.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-587371111277134827.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-587371111277134827.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-587371111277134827.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-587371111277134827.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-587371111277134827.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-587371111277134827.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-587371111277134827.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-587371111277134827.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-587371111277134827.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-587371111277134827.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-587371111277134827.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-587371111277134827.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-587371111277134827.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-587371111277134827.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-587371111277134827.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-587371111277134827.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-587371111277134827.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-587371111277134827.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-587371111277134827.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-587371111277134827.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-587371111277134827.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-587371111277134827.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-587371111277134827.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-587371111277134827.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-587371111277134827.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-587371111277134827.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-587371111277134827.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-587371111277134827.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-587371111277134827 .gp-relative{position:relative}.gps-587371111277134827 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-587371111277134827 .gp-mb-0{margin-bottom:0}.gps-587371111277134827 .gp-inline-block{display:inline-block}.gps-587371111277134827 .gp-flex{display:flex}.gps-587371111277134827 .gp-grid{display:grid}.gps-587371111277134827 .gp-contents{display:contents}.gps-587371111277134827 .\!gp-hidden{display:none!important}.gps-587371111277134827 .gp-hidden{display:none}.gps-587371111277134827 .gp-h-auto{height:auto}.gps-587371111277134827 .gp-h-full{height:100%}.gps-587371111277134827 .gp-w-full{width:100%}.gps-587371111277134827 .gp-max-w-full{max-width:100%}.gps-587371111277134827 .gp-flex-none{flex:none}.gps-587371111277134827 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-587371111277134827 .gp-flex-col{flex-direction:column}.gps-587371111277134827 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587371111277134827 .gp-duration-200{transition-duration:.2s}.gps-587371111277134827 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-587371111277134827 .tablet\:\!gp-hidden{display:none!important}.gps-587371111277134827 .tablet\:gp-hidden{display:none}.gps-587371111277134827 .tablet\:gp-h-auto{height:auto}.gps-587371111277134827 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-587371111277134827 .mobile\:\!gp-hidden{display:none!important}.gps-587371111277134827 .mobile\:gp-hidden{display:none}.gps-587371111277134827 .mobile\:gp-h-auto{height:auto}.gps-587371111277134827 .mobile\:gp-flex-none{flex:none}}.gps-587371111277134827 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZjNa_WBSU"}' data-id="gZjNa_WBSU" id="gZjNa_WBSU" data-same-height-subgrid-container class="gZjNa_WBSU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pb:117px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:12px;--pr-mobile:0px;--pt-tablet:80px;--pl-tablet:25px;--pb-tablet:117px;--pr-tablet:25px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gqdwf3a-cU gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gmOtABtxye"}' data-id="gmOtABtxye" id="gmOtABtxye" data-same-height-subgrid-container class="gmOtABtxye gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:716px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gj6HBbU2KR gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gnkA4BIv1y"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ta:center"
      class="gp-group/image gp-relative force-publish-1764276013316 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gnkA4BIv1y"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_562294279301497736-e554a503-9edb-451a-90b1-569b170d52d8.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:4/3;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:95%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9-MaHNyxp"
        class="g9-MaHNyxp"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:18px;--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:716px;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--size:46px;--size-tablet:46px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:-2px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9-MaHNyxp_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1Vhj6on6n"
        class="g1Vhj6on6n"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:28px;--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:716px;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1Vhj6on6n_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 21",
    "tag": "section",
    "class": "gps-587371111277134827 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/feppvi-1c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=587367250286085099&sectionId=587371111277134827)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9-MaHNyxp_text","label":"gg9-MaHNyxp_text","default":"<span style=\"color:rgb(0,0,0);\"><strong>9). No More Itch — Just Calm, Clean Skin</strong></span>"},{"type":"html","id":"gg1Vhj6on6n_text","label":"gg1Vhj6on6n_text","default":"<p>That constant urge to scratch will finally fade.</p><p>NewAura’s Dry-Safe Complex™ uses natural antifungal and soothing oils like Camelia oil and hyaluronic acid that will finally cool your irritation and calm your skin from underneath the beard.</p><p>&nbsp;</p><p>You’ll feel it working before you even think about it.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}